@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::spelling-error {
    text-decoration:none;
}

body{
    background:#1a1a1d;
}

input:focus
{
    outline: none;
}

.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0px auto;
}

.text-content h1{
    text-align: center;
    margin: 1rem 0px;
    font-weight: 600;
    color: #fff;
}

.mainForm{
    display: flex;
    justify-content:space-between;
    max-width: 600px;
    margin: 0px auto;
}

.mainForm input[type="text"]{
    width: 80%;
    height: 2rem;
    padding: 1rem;
    background: #eee;
    border-radius: 8px;
    border: none;
}

.mainForm input[type="submit"]{
    width: 15%;
    color:#6f2232;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.mainForm input[type="submit"]:hover,.todo-items li button:hover{
    transform: scale(1.04);
    cursor: pointer;
    font-weight: 600;
}

.mainForm input[type="submit"]:hover{
    background: #6f2232;
    color:#eee;
}

.todo-items{
    max-width: 600px;
    margin:0px auto;
}
.todo-items .inputDiv{
    display: block;
    margin:1rem auto;
    padding:0.5rem;
    width: 100%;
    background:#6f2232;
    font-size: 1rem;
    border-radius: 8px;
}
.todo-items li:hover{
    cursor: pointer;
    transform: scale(1.01);
}


.todo-items li p{
    width: 60%;
    color:#fff;
    font-weight: 500;
    min-height: 1rem;
}

.todo-items li button{
    width: 15%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.027);
    background: #fff;
    color:#1a1a1d;
}

.sample{
    display: none !important;
}

.suggestion{
  border: none;
  background-color: white;
}
.suggestion p{
  font-family: sans-serif;
  padding:0.5rem;
}
.suggestion p:hover{
  background-color: #1a1a1d;
  color:white;
  border: 1px solid white;
  box-sizing: border-box;
  cursor:pointer
}

span{
  color:#1a1a1d;
  background-color: white ;
  border-radius: 10px;
  padding:0 0.2rem;
  font-weight: 500;
  margin:0 0.5rem;
}

@media screen and (max-width:455px){
    form{
        flex-wrap: wrap;
        justify-content: center;
    }

    form input[type="text"]{
        width: 100%;
        margin-bottom: 1rem;
    }

    form input[type="submit"]{
        width: initial;
        padding: 0.2rem 0.5rem;
    }

    .todo-items li{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .todo-items li p{
        width: 100%;
        text-align: center;
    }
    
    .todo-items li button{
        width: 40%;
        margin: 0.5rem 0rem;
    }
}